<div class="card">
    <div class="card-header">
      <h3>Product List</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">View Order</th>
                    <th scope="col">Order No</th>
                    <th scope="col">Order date</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Invoice Value</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Cancel</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><a>101</a> </th>
                    <td>8248</td>
                    <td>23/02/2022</td>
                    <td>Someone</td>
                    <td>145000</td>
                    <td><select name="" id="" class="form-control text-dark">
                        <option value="" class="form-control text-dark">Despatch</option>
                        <option value="" class="form-control text-dark">Delivery</option>
                        <option value="" class="form-control text-dark">Canceled</option>
                        <option value="" class="form-control text-dark">Completed</option>
                        
                      </select></td>
                      <td>&nbsp;&nbsp;<button class="btn btn-sm btn-primary"><i class="ni ni-scissors text-dark"></i>
                      </button></td>
                      <td>&nbsp;&nbsp;<button class="btn btn-sm btn-danger"><i class="ni ni-fat-remove text-dark"></i>
                      </button></td>
                  </tr>
    
                  <tr>
                    <th scope="row"><a>102</a> </th>
                    <td>8249</td>
                    <td>21/01/2022</td>
                    <td>Someoness</td>
                    <td>145000</td>
                    <td><select name="" id="" class="form-control text-dark">
                        <option value="" class="form-control text-dark">Despatch</option>
                        <option value="" class="form-control text-dark">Delivery</option>
                        <option value="" class="form-control text-dark">Canceled</option>
                        <option value="" class="form-control text-dark">Completed</option>
                        
                      </select></td>
                      <td>&nbsp;&nbsp;<button class="btn btn-sm btn-primary"><i class="ni ni-scissors text-dark"></i>
                      </button></td>
                      <td>&nbsp;&nbsp;<button class="btn btn-sm btn-danger"><i class="ni ni-fat-remove text-dark"></i>
                      </button></td>
                  </tr>
            
                
                </tbody>
              </table>
        </div>
      
    </div>

  
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Order Summary</h3>
    </div>
    <div class="card-body">
        <div class="row mb-lg-5">
            <div class="col-lg-12 ">
            <div class="card my-5">
            <div class="card-header p-3 pb-0">
            <div class="d-flex justify-content-between align-items-center">
            <div>
            <h6>Order Details</h6>
            <p class="text-sm mb-0">
            Order no: <b>241342</b> 
            </p>
            <p class="text-sm mb-0">
             Date <b>23.02.2021</b>
                </p>
            <p class="text-sm">
            Item Code: <b>KF332</b>
            </p>
            </div>
            <a href="javascript:;" class="btn bg-gradient-primary ms-auto mb-0">Invoice</a>
            </div>
            </div>
            <div class="card-body p-3 pt-0">
            <hr class="horizontal dark mt-0 mb-4">
            <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
            <div class="d-flex">
            <div>
            <img src="../../assets/img/brand/chips1.jpg" class="avatar avatar-xxl me-3" alt="product image">
            </div>
            <div>
            <p class="text-lg mb-0 mt-2">A1 Chips</p>
            <p class="text-sm mb-3">Order was delivered 2 days ago.</p>
            <span class="badge badge-sm bg-gradient-success">Delivered</span>
            </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 my-auto text-end">
            <a href="javascript:;" class="btn bg-gradient-info mb-0">Contact Us</a>
            <p class="text-sm mt-2 mb-0">Do you like the product? Leave us a review <a href="javascript:;">here</a>.</p>
            </div>
            </div>
            <hr class="horizontal dark mt-4 mb-4">
            <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
            <h6 class="mb-3">Track order</h6>
            <div class="timeline timeline-one-side">
            <div class="timeline-block mb-3">
            <span class="timeline-step">
            <i class="ni ni-bell-55 text-secondary"></i>
            </span>
            <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">Order received</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">22 DEC 7:20 AM</p>
            </div>
            </div>
            <div class="timeline-block mb-3">
            <span class="timeline-step">
            <i class="ni ni-html5 text-secondary"></i>
            </span>
             <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">Generate order id #1832412</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">22 DEC 7:21 AM</p>
            </div>
            </div>
            <div class="timeline-block mb-3">
            <span class="timeline-step">
            <i class="ni ni-cart text-secondary"></i>
            </span>
            <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">Order transmited to courier</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">22 DEC 8:10 AM</p>
            </div>
            </div>
            <div class="timeline-block mb-3">
            <span class="timeline-step">
            <i class="ni ni-check-bold text-success text-gradient"></i>
            </span>
            <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">Order delivered</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">22 DEC 4:54 PM</p>
            </div>
            </div>
            </div>
            </div>
            <div class="col-lg-5 col-md-6 col-12">
    
              
                <h6 class="mb-3">Billing Information</h6>
                <ul class="list-group">
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">Billing Address</h6>
                <span class="mb-2 text-xs">Company Name: <span class="text-dark font-weight-bold ms-2">Viking Burrito</span></span>
                <span class="mb-2 text-xs">Email Address: <span class="text-dark ms-2 font-weight-bold">oliver@burrito.com</span></span>
                <span class="text-xs">VAT Number: <span class="text-dark ms-2 font-weight-bold">FRB1235476</span></span>
                </div>
                </li>
                </ul>

                <ul class="list-group">
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">Shiping address</h6>
                <span class="mb-2 text-xs">Company Name: <span class="text-dark font-weight-bold ms-2">Viking Burrito</span></span>
                <span class="mb-2 text-xs">Email Address: <span class="text-dark ms-2 font-weight-bold">oliver@burrito.com</span></span>
                <span class="text-xs">VAT Number: <span class="text-dark ms-2 font-weight-bold">FRB1235476</span></span>
                </div>
                </li>
                </ul>
                </div>
       
            <div class="col-lg-3 col-12 ms-auto">
            <h6 class="mb-3">Order Summary</h6>
            <div class="d-flex justify-content-between">
            <span class="mb-2 text-sm">
            Product Price:
            </span>
            <span class="text-dark font-weight-bold ms-2">$90</span>
            </div>
            <div class="d-flex justify-content-between">
            <span class="mb-2 text-sm">
            Delivery:
            </span>
            <span class="text-dark ms-2 font-weight-bold">$14</span>
            </div>
            <div class="d-flex justify-content-between">
            <span class="text-sm">
            Taxes:
            </span>
            <span class="text-dark ms-2 font-weight-bold">$1.95</span>
            </div>
            <div class="d-flex justify-content-between mt-4">
            <span class="mb-2 text-lg">
            Total:
            </span>
            <span class="text-dark text-lg ms-2 font-weight-bold">$105.95</span>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
      
    </div>

  
  </div>


